<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magtools" translate="label" sortOrder="500" class="mtools-tab">
            <label> </label>
        </tab>
        <section id="mtools_status" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>mTools module status</label>
            <tab>magtools</tab>
            <resource>Mtools_Core::config</resource>
            <group id="status" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>mTools module status</label>
                <field id="version" translate="label" type="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Current Version</label>
                    <backend_model>Mtools\Core\Model\Config\Version</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
